streamlit 
pandas 
openpyxl 
numpy 
requests 
reportlab 
python-docx 
scikit-learn
yfinance>=0.2.40
lxml
html5lib
beautifulsoup4
yahooquery 
html5lib
xlsxwriter
watchdog
scipy
pytesseract
pdf2image
Pillow
